@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*#
@info@STYLES BASKET SELECTIONS METADATA@info@
@name&styles_basket&name@
@aspects&theme-fonts-monsterat-lato,toc-numbering-deep,page-size-a5,content-font-size-10,title-font-size-normal,table-style-box,ordered-list-counter-lower-alpha&aspects@
@info@WARNING: PLEASE DON'T MODIFY THIS FILE. MODIFICIATION CAN CAUSE UPLOADING ERRORS@info@
#*/
/*theme-fonts-monsterat-lato*/
*[class~='front-page/front-page-title'],
*[class~='topic/topic'][is-chapter] > *[class~='topic/title'] {
  font-family: 'Montserrat', sans-serif;
}
*[class~='topic/topic'][is-chapter] > *[class~='topic/topic'] > *[class~='topic/title'] {
  font-family: 'Montserrat', sans-serif;
}
*[class~='topic/title'],
*[class~='topic/thead'] {
  font-family: 'Montserrat', sans-serif;
}
*[class~='topic/shortdesc'],
*[class~='topic/p'],
*[class~='topic/li'],
*[class~='topic/tbody'] {
  font-family: 'Lato', sans-serif;
}
/*content-font-size-10*/
body {
  font-size: 10pt;
}
/*title-font-size-normal*/
.topictitle1 {
  font-size: 2.1em;
}
.topictitle2 {
  font-size: 1.8em;
}
.topictitle3 {
  font-size: 1.5em;
}
.topictitle4 {
  font-size: 1.1em;
}
.topictitle5,
.topictitle6 {
  font-size: 1.0em;
}
*[class~="topic/table"] *[class~="topic/title"],
*[class~="topic/fig"] *[class~="topic/title"] {
  font-size: 1.0em;
}
/*toc-numbering-deep*/
/*page-size-a5*/
@media print {
  @page {
    size: A5;
  }
}
/*table-style-box*/
*[class~='topic/table'] {
  border-spacing: 1px;
}
*[class~="topic/table"][frame],
*[class~="frame-all"] {
  border-color: #0000b3;
  border-top: 5pt solid #000080 !important;
  border-bottom: 5pt solid #000080 !important;
}
*[class~='topic/table'],
*[class~="topic/thead"] {
  background-color: #ffffff !important;
  color: #000000;
}
*[class~='topic/entry'],
td,
th {
  border: none;
}
.table td,
.table th {
  border-top: none;
  border-bottom: none !important;
}
/*ordered-list-counter-lower-alpha*/
*[class~='topic/ol'] *[class~='topic/li'],
*[class~="topic/ol"] > *[class~="topic/li"] *[class~="topic/ol"] > *[class~="topic/li"] {
  list-style-type: lower-alpha;
}

